.about {
  padding: 93px 34px 115px; 
}
  
.about__title {
  margin-bottom: 76px; 

  @include media-mobile{
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.2;
  }
}
  
.about__txt {
  color: #333333;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-bottom: 30px; 

  @include media-mobile{
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.25;
  }
}
  
.about__txt:last-child {
  margin-bottom: 0; 
}