.about {
  padding: 93px 165px 115px;

  @include media-mobile{
    padding: 25px 34px 25px;
  }
}
  
.about__title {
  margin-bottom: 76px; 

  @include media-mobile{
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 19px;
  }
}
  
.about__txt {
  color: #333333;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-bottom: 30px; 

  @include media-mobile{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.25;
    margin-bottom: 15px;
  }
}
  
.about__txt:last-child {
  margin-bottom: 0; 
  @include media-mobile{
    margin-bottom: 20px;
  }
}