body,
html {
  font-family: 'Libre Franklin', Arial, sans-serif;
  font-size: 10px; 
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto; 

  @include media-tablet{
      width: 80%;
  }

  @include media-mobile{
    width: 94%;
  }
}

.hero {
    padding-top: 93px;
    padding-bottom: 30px;
    min-height: 100vh;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    color: white;
     display: flex;
     flex-direction: column;
}
.logo {
    font-size: 2.4rem;
    line-height: 1.21;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px; }

.header-nav__list{
   display: flex;
   gap: 60px;
   font-size: 1.8rem;
   line-height: 1.22;
}

.header-nav__link--active{
    font-weight: bold;
}

.hero-content__title {
    font-size: 6.4rem;
    line-height: 1.22;
    margin-bottom: 26px; 
}
  
.hero-content__txt {
    font-size: 2.4rem;
    line-height: 1.21;
    margin-bottom: 106px; 
}
  
.hero-content__link {
    text-decoration: underline;
    font-size: 1.8rem;
    line-height: 1.22; 
}