body,
html {
  font-family: 'Libre Franklin', Arial, sans-serif;
  font-size: 10px; 
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
}

.hero {
     padding-top: 93px;
     padding-bottom: 30px;
     height: 100vh;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    color: white;
     display: flex;
     flex-direction: column;
     padding: 93px 20px 30px;

     @include media-mobile{
       padding: 36px;
     }

}
.logo {
    font-size: 2.4rem;
    line-height: 1.21;
    font-weight: bold;

    @include media-mobile{
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.2;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 34px 30px;
    flex-wrap: wrap;

    .burger{
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50px;
      top: 36px;
      cursor: pointer;
      span{
        width: 30px;
        height: 3px;
        display: block;
        background: #fff;
        margin: 3px;
      }
    }

    @include media-mobile{
        justify-content: center;
        .header-nav{
          display: none;
        }
        .burger{
          display: flex;
        }
      }
}

.header-nav__list{
   display: flex;
   gap: 60px;
   font-size: 1.8rem;
   line-height: 1.22;
}

.header-nav__link--active{
    font-weight: bold;
}
.hero-content{

    @include media-tablet{
        width: 100%;
        text-align: center;
    } 

    @include media-mobile{
        width: 100%;
        text-align: center;
    }
}
.hero-content__title {
    font-size: 6.4rem;
    line-height: 1.22;
    margin-top: 145px;
    margin-bottom: 26px; 

    @include media-tablet{
        text-align: center;
      }

     @include media-mobile{
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;
        margin-top: 50px;
      }
}
  
.hero-content__txt {
    font-size: 2.4rem;
    line-height: 1.21;
    margin-bottom: 106px; 

    @include media-tablet{
        text-align: center;
      }

    @include media-mobile{
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.23;
        margin-bottom: 41px;
    }
}

.hero-content__link {
    text-decoration: underline;
    font-size: 1.8rem;
    line-height: 1.22; 

    @include media-tablet{
        text-align: center;
      } 

    @include media-mobile{
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.23;
    }
}

