.skills {
  padding: 93px 165px 145px;
  background-color: #FFFAF2; 

  @include media-mobile{
    padding: 25px 34px 25px;
  }
}
  
.skills__title {
    margin-bottom: 86px; 

    @include media-mobile{
      font-size: 2.4rem;
      line-height: 1.2;
      margin-bottom: 25px;
      text-align: center;
    }
  }
  
.skills-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 125px; 
  flex-wrap: wrap;

  @include media-mobile{
    width: 308px; 
    margin: 0 auto;
    gap: 26px;
  }
}

  
.skills-wrapper__image{
  width: 350px; 

  @include media-mobile{
    width: 224px; 
    margin: 0 auto;
  }
}
  
.skills-wrapper__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; 

  @include media-mobile{
    gap: 18px;
  }
}
  
.skills-wrapper__item {
  display: flex;
  flex-direction: column;
  gap: 21px; 

  
  @include media-mobile{
    gap: 12px;
  }
}
  
.skills-wrapper__item:first-of-type {
  padding-bottom: 45px; 

  @include media-mobile{
    padding-bottom: 31px;
  }
}
  
.skills-wrapper__row {
  display: flex;
  gap: 60px;
  align-items: center; 

  @include media-mobile{
    gap: 10px;
  }
}
  
.skills-wrapper__name {
  width: 130px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #333333; 

  @include media-mobile{
    font-size: 1.2rem;
    line-height: 2.0;
    width: 90px;
  }
}
  
.skills-wrapper__value{
  color: #333333;
  font-size: 1.8rem;
  line-height: 1.2;
  flex-grow: 1; 

  @include media-mobile{
    font-size: 1.2rem;
    line-height: 2.0;
  }
}
  
.progressbar{
  height: 24px;
  background-color: #F5D6AB;
  overflow: hidden; 

  @include media-mobile{
    height: 18px;
  }
}
  
.progressbar__track{
  height: 100%;
  background-color: #C66C49;
  width: 33%; 
}
